<div class="panel">
  <% if user_signed_in? %>
    <div class="panel-body">
      <div class="comment">
        <div class="comment-avatar">

        </div>
        <div class="comment-content">
          <div class="comment-heading">
            <b><%= current_user.nickname %></b>
          </div>
          <div class="comment-body">
            <% comment = @commentable.comments.build %>
            <%= simple_form_for [@commentable, comment], remote: true do |f|%>
              <%= f.input :content, label: false, as: :text %>
              <%= f.button :submit, class: "btn btn-success" %>
              <!-- TODO play with simple_form, like hint and warning-->
            <% end %>

          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="panel-body">
      <%= link_to "注册", new_user_registration_path %> 或
      <%= link_to "登录", new_user_session_path %> 后发表评论
    </div>
  <% end %>
</div>
