<div class="panel" id="comments">
  <div class="panel-heading">
    <h3 class="panel-title">
      评论(<%= @comments.count %>)
    </h3>
  </div>
  <div class="panel-body" style="padding-bottom: 0;">
    <div class="list-group comments">
      <% @comments.find_each do |comment| %>
        <% max_id = @comments.collect {|c| c.id}.max %>
        <% unless comment.id == max_id %>
          <div class="comment list-group-item" id="comment-<%= comment.id %>">
            <div class="comment-avatar">

            </div>
            <div class="comment-content">
              <div class="comment-heading">
                <b><%= comment.user.nickname %></b>
                <%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
              </div>
              <div class="comment-body">
                <%= comment.content %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="comment list-group-item last-child" id="comment-<%= comment.id %>">
            <div class="comment-avatar">

            </div>
            <div class="comment-content">
              <div class="comment-heading">
                <b><%= comment.user.nickname %></b>
                <%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
              </div>
              <div class="comment-body">
                <%= comment.content %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
