<div class="panel">
  <div class="panel-body">
    <div class="pull-right">
      <div class="input-group">
        <!-- TODO SEARCH -->
      </div>
    </div>
    <%= link_to "创建话题", new_topic_path, class: "btn btn-success" %>
  </div>
</div>
<div class="panel">
  <div class="panel-body" id="topic-lists">
    <div class="list-group">
      <% @topics.find_each do |topic| %>
        <% max_id = @topics.collect {|t| t.id}.max %>
        <% unless topic.id == max_id %>
          <a class="list-group-item topic" href="<%= "/topics/#{topic.id}" %>">
            <div class="topic-heading">
              <%= topic.title %>
            </div>
            <div class="topic-info text-muted">
              <%= topic.user.nickname %> ·
              <%= topic.created_at.strftime("%Y-%m-%d %H:%M:%S") %> ·
              <%= topic.comments.count %>条评论
            </div>
          </a>
        <% else %>
          <a class="last-child list-group-item topic" href="<%= "/topics/#{topic.id}" %>">
            <div class="topic-heading">
              <%= topic.title %>
            </div>
            <div class="topic-info text-muted">
              <%= topic.user.nickname %> ·
              <%= topic.created_at.strftime("%Y-%m-%d %H:%M:%S") %> ·
              <%= topic.comments.count %>条评论
            </div>
          </a>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="panel-footer">
    <div class="pull-right">
      <%= paginate @topics %>
    </div>
  </div>
</div>
