<div class="col-md-4">
  <div class="panel user-profile">
    <div class="panel-body">
      <div class="user-profile-avartar">

      </div>
      <div class="user-profile-name">
        <%= @user.nickname %>
      </div>
    </div>
    <div class="panel-footer">
      <% if user_signed_in? && current_user == @user %>
        <%= link_to "编辑个人资料", settings_profile_path, class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
  <div class="list-group" style="margin:0;">
    <% if params[:action] == 'comments' %>
      <%= link_to user_topics_path, class: "list-group-item" do %>
        <div class="pull-right"><i class="fa fa-chevron-right"></i></div>
        Topics
      <% end %>
      <%= link_to user_comments_path, class: "list-group-item active" do %>
        <div class="pull-right"><i class="fa fa-chevron-right"></i></div>
        Comments
      <% end %>
    <% else %>
      <%= link_to user_topics_path, class: "list-group-item active" do %>
        <div class="pull-right"><i class="fa fa-chevron-right"></i></div>
        Topics
      <% end %>
      <%= link_to user_comments_path, class: "list-group-item" do %>
        <div class="pull-right"><i class="fa fa-chevron-right"></i></div>
        Comments
      <% end %>
    <% end %>
  </div>
</div>
