<!DOCTYPE html>
<html>
<head>
  <title>StartupClass</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "YC Startup Class", root_path, class: "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <% if params[:controller] == 'class_videos' %>
            <li class="active"><%= link_to "课程视频", root_path %></li>
            <li><%= link_to "社区", topics_path %></li>
          <% elsif params[:controller] == 'topics' %>
            <li><%= link_to "课程视频", root_path %></li>
            <li class="active"><%= link_to "社区", topics_path %></li>
          <% end %>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <%= current_user.email %> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "个人页面", '#' %></li>
                <li><%= link_to "设置", '#' %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "退出", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "注册", new_user_registration_path %></li>
            <li><%= link_to "登录", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div><!-- container-fluid -->
  </div><!-- navbar navbar-default -->
  <link href="http://vjs.zencdn.net/5.8.7/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/5.8.7/video.js"></script>
  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class:"alert" %>
    <% end %>
    <div class="row">
      <div class="col-md-10 col-md-push-1">
        <%= yield %>
      </div>
    </div>
  </div>


</body>
</html>
